# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Efund\饥人谷前端项目\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
